/* Hero Section */
.bg-dark {
    background: url('./assets/explore-bg.jpg') center/cover no-repeat;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Card Hover Effect */
.card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

/* Text */
h2 {
    color: #333;
}
